# ISO build artifacts and chroot work directories
*.iso
*.img
*.sqfs
*.tar.xz
work/
out/
db/
*/work/
*/out/
*/db/

# Python cache & temporary files
__pycache__/
*.pyc
*.swp
*~
*.tmp

# User gnupg & subversion
.gnupg/
.subversion/
.MTREE
.PKGINFO
